{% extends 'base_users.html' %}
{% load static %}
{% block title %}{% if create %}Crear Administrativo{% else %}Editar Administrativo{% endif %}{% endblock %}
{% block content %}
  <h1>{% if create %}Crear Administrativo{% else %}Editar Administrativo{% endif %}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div style="margin-top:12px;">
      <button class="btn btn-primary" type="submit">Guardar</button>
      <a href="{% url 'adminpanel:administrativo_list' %}" class="btn btn-primary">Cancelar</a>
    </div>
  </form>
{% endblock %}
